[data-theme="light"] {
  --r-background: 0, 0%, 99%;
  --r-background-1: 0, 0%, 100%;
  --r-background-2: 0, 0%, 99%;
  --r-background-3: 0, 0%, 97%;
  --r-frontground: 240, 5%, 10%;
  --r-frontground-1: 240, 5%, 11%;
  --r-frontground-2: 240, 5%, 10%;
  --r-frontground-3: 240, 5%, 6%;
  --r-border: 0, 0%, 73%;
  --r-border-1: 0, 0%, 84%;
  --r-border-2: 0, 0%, 73%;
  --r-border-3: 0, 0%, 47%;
  --r-primary: 200, 98%, 39%;
  --r-primary-1: 200, 98%, 45%;
  --r-primary-2: 200, 98%, 39%;
  --r-primary-3: 200, 98%, 25%;
  --r-secondary: 161, 93%, 30%;
  --r-secondary-1: 161, 93%, 35%;
  --r-secondary-2: 161, 93%, 30%;
  --r-secondary-3: 161, 93%, 19%;
  --r-default: 0, 0%, 93%;
  --r-default-1: 0, 0%, 96%;
  --r-default-2: 0, 0%, 93%;
  --r-default-3: 0, 0%, 92%;
  --r-success: 161, 93%, 30%;
  --r-success-1: 161, 93%, 35%;
  --r-success-2: 161, 93%, 30%;
  --r-success-3: 161, 93%, 19%;
  --r-warning: 20, 90%, 48%;
  --r-warning-1: 20, 90%, 55%;
  --r-warning-2: 20, 90%, 48%;
  --r-warning-3: 20, 90%, 31%;
  --r-danger: 0, 72%, 50%;
  --r-danger-1: 0, 72%, 58%;
  --r-danger-2: 0, 72%, 50%;
  --r-danger-3: 0, 72%, 32%;
  --r-info: 198, 88%, 48%;
  --r-info-1: 198, 88%, 55%;
  --r-info-2: 198, 88%, 48%;
  --r-info-3: 198, 88%, 31%;
}