.textarea {
  width: 100%;
  min-height: 400px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@font-face {
  font-family: 'Share Tech Mono';
  src: url('/ShareTechMono-Regular.ttf') format('truetype');
}

* {
  font-family: 'Share Tech Mono';
}